.O = {
	
	background-color: green;
}

.I = {

	background-color: red;
}

.S = {

	background-color: blue;
}

.Z = {

	background-color: yellow;
}

.L = {

	background-color: pink;
}

.J = {

	background-color: grey;
}

.T = {

	background-color: black;
}